@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* body styling */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}
/* header styling */
header {
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  border: aquamarine;
}
header nav ul {
  list-style: none;
  gap: 10px;
  color: aquamarine;
  margin: 25px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 25px;
}
/* h1 styling */
h1 {
  display: inline;
  background-color: aquamarine;
  justify-content: flex-end;
  border-color: aquamarine;
  margin: top 8px;
  padding-left: 20mm;
}
nav a {
  color: aquamarine;
}
/* hero styling */
.hero {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  height: 170px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: flex-end;
}
.hero h2 {
  color: rgb(48, 47, 47);
  background-color: aquamarine;
  justify-content: flex-end;
}
/* section styles */
.page-section {
  display: flex;
  margin-bottom: 35px;
}
#about p {
  margin-bottom: 1rem;
}
.profilepic {
  display: grid;
  place-items: end;
  border-radius: 50%;
}
#about img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top left;
  height: 150px;
  border-radius: 50%;
  border: 2px solid;
}
.page-section > div:nth-child(2) {
  border-left: 4px solid navy;
  padding-left: 10px;
}
.page-section h2 {
  margin: 1rem;
  font-size: 4rem;
  text-align: end;
  flex-shrink: 0;
  width: 250px;
  line-height: 1;
  /* > is to indicate immediate child while #is to select id */
}
#work > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.project:first-child {
  height: 400px;
  grid-column: 1 /-1;
}
.project {
  position: relative;
  overflow: hidden;
  height: 150px;
  border: 4px solid aquamarine;
}
.project div {
  position: absolute;
  bottom: 10px;
  background-color: aquamarine;
  padding: 10px;
}
/* contact styles */
#contact div {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-size-adjust: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: blue;
}
#contact div a {
  color: blue;
}
/* h1-h6 styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.menu-button {
  display: none;
}
/* media responsive styles */
@media (max-width: 785px) {
  .page-section {
    flex-direction: column;
  }
  .menu-button {
    display: block;
  }
  header nav ul {
    display: none;
  }
  #work > div {
    grid-template-columns: 1fr;
  }
  #contact div {
    flex-direction: column;
  }
  .page-section h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .profilepic {
    place-items: center;
  }
  .page-section > div:nth-child(2) {
    border: none;
    padding: none;
  }
}
